In [1]:
#1- Create an empty list called fruits.
fruits = []

In [2]:
#2- Add "apple" to the fruits list using append().
fruits.append("apple")

In [10]:
#3- Add another list ["banana", "cherry"] to fruits using extend().
fruits.extend(["banana", "cherry"])

In [11]:
#4- Remove "banana" from the fruits list using remove().
fruits.remove("banana")

In [12]:
#5- Remove the last item from fruits using pop().
fruits.pop()

'cherry'

In [13]:
#6- Reverse the fruits list using reverse().
fruits.reverse()

In [14]:
#7- Insert "mango" at index 1 in the fruits list using insert().
fruits.insert(1, "mango")

In [15]:
#8- Print elements from index 2 to 4 using slicing.
print(fruits[2:5])

[]

In [16]:
#9- Create a list of numbers from 1 to 5.
numbers = list(range(1, 6))

In [17]:
#10- Print the first and last element of the list using indexing.
print(numbers[0])
print(numbers[-1])

1
5

In [18]:
#11- Change the value at index 2 to 10.
numbers[2] = 10

In [19]:
#12- Check if "grape" exists in the list fruits, and print a message.
if "grape" in fruits:
    print("grape is in the list.")
else:
    print("grape is not in the list.")

grape is not in the list.

In [20]:
#13- Use a loop to print all items in the list one by one.
for fruit in fruits:
    print(fruit)

apple
mango

In [21]:
#14- Use len() to print the number of items in the list.
print(len(fruits))

2

In [22]:
#1- Create a tuple of numbers like (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)

#2- Use count() to find how many times 2 appears.
print(numbers.count(2))

#3- Use index() to find the index of the number 4.
print(numbers.index(4))

#4- If you want to add an item to a tuple, how will you convert it to a list, append the item, and convert it back to a tuple?
numbers_list = list(numbers)
numbers_list.append(5)
numbers = tuple(numbers_list)

#5- Create a tuple of 3 strings: "red", "green", "blue".
colors = ("red", "green", "blue")

#6- Try changing the first item of the tuple — what error do you get?
colors = ("red", "green", "blue")
colors[0] = "yellow"
#ErrorOutput: 'tuple' object does not support item assignment

#7- Convert this tuple to a list, add a new color, and convert it back to a tuple.
colors_list = list(colors)
colors_list.append("yellow")
colors = tuple(colors_list)

3
4

TypeError: 'tuple' object does not support item assignment

In [25]:
#1- Create an empty set called my_set.
my_set = set()

#2- Add "apple" and "banana" to my_set using add().
my_set.add("apple")
my_set.add("banana")

#3- Do sets allow duplicate values? Explain with an example.
example_set = {"apple", "banana", "apple"}
print(example_set)
#sets dont print duplicates

#4- Create two sets: set1 = {1, 2, 3} set2 = {3, 4, 5} Find the union and intersection of the sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))
print(set1.intersection(set2))

#5- Remove an item from a set using discard().
my_set.discard("banana")

#6- Use a loop to print all elements in a set.
for item in my_set:
    print(item)

{'banana', 'apple'}
{1, 2, 3, 4, 5}
{3}
apple

In [26]:
#1- Create a dictionary with a key "name" and value "Ali".
person = {"name": "Ali"}


#2- Access the value of the key "name".
print(person["name"])

#3- Add a new key "age" with the value 25.
person["age"] = 25

#4- Update the value of "name" to "Ahmed".
person["name"] = "Ahmed"

#5- Create a dictionary of a student: {"name": "Sara", "grade": "A", "age": 17}
student = {"name": "Sara", "grade": "A", "age": 17}


#6- Print all keys in the dictionary.
print(student.keys())


#7- Print all values in the dictionary.
print(student.values())


#8- Check if "grade" key exists in the dictionary.
if "grade" in student:
    print("grade exists")


#9- Loop through the dictionary and print each key and its value.
for key, value in student.items():
    print(key, ":", value)

Ali
dict_keys(['name', 'grade', 'age'])
dict_values(['Sara', 'A', 17])
grade exists
name : Sara
grade : A
age : 17

In [27]:
#1- Check if 10 is in the list. If it is, print "Found 10", otherwise print "10 not found".
numbers = [5, 10, 15]
if 10 in numbers:
    print("Found 10")
else:
    print("10 not found")


#2- Write a condition: If any number is greater than 20, print "Large number", else print "Small number".
nums = [8, 12, 25]
if any(n > 20 for n in nums):
    print("Large number")
else:
    print("Small number")

Found 10
Large number

In [29]:
#1- Given a = 5, b = 10 Print the results of: a + b, a * b, b - a, and b / a.
a = 5
b = 10
print(a + b)
print(a * b)
print(b - a)
print(b / a)

#2- Write an expression to calculate (a + b) * 2 and print the result.
print((a + b) * 2)

#3- Write a program that takes age as input from the user and checks:
age = int(input("Enter your age: "))
#4- If age >= 18, print "You are an adult", Otherwise, print "You are a minor"
age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

15
50
5
2.0
30
Enter your age: 22
Enter your age: 22
You are an adult

In [30]:
#1- Calculate the area of a rectangle with width = 5 and height = 10. (Formula: area = width * height)
width = 5
height = 10
area = width * height
print(area)

#2- Write an expression that converts Celsius to Fahrenheit: F = (C * 9/5) + 32, where C = 25.
C = 25
F = (C * 9/5) + 32
print(F)

#3- Write a simple interest formula: SI = (P * R * T) / 100, where P=1000, R=5, T=2
P = 1000
R = 5
T = 2
SI = (P * R * T) / 100
print(SI)

50
77.0
100.0

In [31]:
#1- Use range() to print numbers from 0 to 4.
for i in range(5):
    print(i)


#2- Use range(1, 6) to print numbers from 1 to 5.
for i in range(1, 6):
    print(i)


#3- Use a for loop with range(5) to print "Hello" 5 times.
for i in range(5):
    print("Hello")


#4- Use range(2, 11, 2) to print even numbers from 2 to 10.
for i in range(2, 11, 2):
    print(i)


#5- Use range(10, 0, -1) to print numbers from 10 to 1 in reverse order.
for i in range(10, 0, -1):
    print(i)


#6- Store a range(3, 8) in a list and print that list.
my_list = list(range(3, 8))
print(my_list)

#7- Use range() inside a loop to print squares of numbers from 1 to 5.
for i in range(1, 6):
    print(i**2)

0
1
2
3
4
1
2
3
4
5
Hello
Hello
Hello
Hello
Hello
2
4
6
8
10
10
9
8
7
6
5
4
3
2
1
[3, 4, 5, 6, 7]
1
4
9
16
25