# **FUNCTIONS**

---

In [1]:
#1- Write a function that takes a number and returns its square.
def square_number(num):
    result = num * num
    return result

user_input = int(input("Enter a number to square: "))
print("Square is:", square_number(user_input))

Enter a number to square: 1
Square is: 1

In [2]:
#2- Write a function that takes two numbers and returns the larger one.
def find_larger_number(a, b):
    if a > b:
        return a
    else:
        return b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Larger number is:", find_larger_number(num1, num2))

Enter first number: 3
Enter second number: 5
Larger number is: 5

In [3]:
#3- Write a function that prints “Welcome to AIML” five times using a loop.
def print_welcome_five_times():
    for i in range(5):
        print("Welcome to AIML")

print_welcome_five_times()

Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML

In [4]:
#4- Write a function that checks if a number is even or odd.
def check_even_or_odd(num):
    if num % 2 == 0:
        print("The number is Even")
    else:
        print("The number is Odd")

user_input = int(input("Enter a number: "))
check_even_or_odd(user_input)

Enter a number: 6
The number is Even

In [6]:
#5- Create a function that takes a list and returns the sum of all elements.

def sum_of_list(numbers):
    total = 0
    for num in numbers:
        total = total + num
    return total

input_string = input("Sequence: ")
user_list = list(map(int, input_string.split()))

print("Sum of all elements is:", sum_of_list(user_list))

Sequence: 1 2 3 4 5
Sum of all elements is: 15

LOOPS

In [7]:
#1- Write a for loop to print numbers from 1 to 10.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:

#2- Write a while loop to print all even numbers between 1 and 20.

num = 2
while num <= 20:
    print(num)
    num = num + 2

2
4
6
8
10
12
14
16
18
20

In [9]:
#3- Write a loop to print each character of a given string.

user_text = input("Enter a word: ")

for letter in user_text:
    print(letter)

Enter a word: Flypigeon
F
l
y
p
i
g
e
o
n

In [10]:
#4- Write a loop that prints the multiplication table of 5.

for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
#5- Write a loop that takes a list of numbers and prints only the positive ones.

user_input = input("Sequence: ")
user_list = list(map(int, user_input.split()))

for num in user_list:
    if num > 0:
        print(num)

Sequence: -4 5 -6 7 8 9
5
7
8
9

# **TRY & EXCEPT**

---

In [12]:
#1- Write a function that takes two numbers and divides them. Use try and except to handle divide-by-zero errors.
def divide_numbers(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error!!"

print(divide_numbers(10, 2))
print(divide_numbers(10, 0))

5.0
Error!!

In [13]:
#2- Write a program that asks the user for a number and handles the case where the input is not a number using try and except.

try:
    user_input = input("Enter a number: ")
    number = float(user_input)
    print("You entered:", number)
except ValueError:
    print("not a valid number!!")

Enter a number: A
not a valid number!!

In [15]:
#3- Write a program that opens a file using try, and prints a custom error if the file is not found.

try:
    file = open("data101.csv", "r")
    content = file.read()
    print(content)
    file.close()
except FileNotFoundError:
    print("The file was not found!!")

The file was not found!!

In [18]:
#4- Create a function that adds two numbers, and raises an error message if one of the inputs is not a number.

def add_numbers(a, b):
    if not (isinstance(a, (int, float)) and isinstance(b, (int, float))):
        raise TypeError("Both inputs must be numbers (int or float)")
    return a + b


print(add_numbers(4, A))

NameError: name 'A' is not defined

In [19]:
#5- Write a program using try and except to read an integer from the user safely.

try:
    user_input = input("Enter an integer: ")
    number = int(user_input)
    print("You entered:", number)
except ValueError:
    print("Not a valid integer!!")

Enter an integer: D
Not a valid integer!!

# **LAMBDA,MAP& FILTER**

---

In [20]:
#1- Use a lambda function to add 10 to a given number.

add_10 = lambda x: x + 10
print(add_10(5))

15

In [21]:
#2- Use map and lambda to convert a list of numbers into their squares.

numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x * x, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [22]:
#3- Use filter and lambda to extract even numbers from a list.
numbers = [1, 2, 3, 4, 5, 6, 7]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

In [24]:
#4- Use map and a lambda to convert a list of lowercase strings to uppercase.
words = ['meta', 'scifor', 'technologies']
uppercase_words = list(map(lambda x: x.upper(), words))
print(uppercase_words)

['META', 'SCIFOR', 'TECHNOLOGIES']

In [25]:
#5- Use filter and a lambda to find numbers greater than 50 in a given list.
numbers = [10, 20, 30, 40, 50, 60, 70]
greater_than_50 = list(filter(lambda x: x > 50, numbers))

# **VARIABLE SCOPE**

---

In [ ]:
1- Write a program to show the use of a global variable inside a function.

2- Write a program where a local variable inside a function does not affect a global variable with the same name.

3- Create a function that modifies a global variable.

4- Write two functions, one that sets a local variable and one that accesses a global variable. Print both.

5- Write a function where a variable is declared inside the function and show that it cannot be accessed outside.

In [26]:
#1- Write a program to show the use of a global variable inside a function.

x = 10

def show_global():
    print("Inside function, x =", x)

show_global()
print("Outside function, x =", x)

Inside function, x = 10
Outside function, x = 10

In [27]:
#2- Write a program where a local variable inside a function does not affect a global variable with the same name.

x = 50

def local_example():
    x = 20
    print("Inside function, x =", x)

local_example()
print("Outside function, x =", x)

Inside function, x = 20
Outside function, x = 50

In [29]:
#3- Create a function that modifies a global variable.

count = 10

def modify_global():
    global count
    count += 1
    print("Inside function, count =", count)

modify_global()
print("Outside function, count =", count)

Inside function, count = 11
Outside function, count = 11

In [30]:
#4- Write two functions, one that sets a local variable and one that accesses a global variable. Print both.

y = 100

def local_set():
    y = 5
    print("Inside local_set, y =", y)

def global_read():
    print("Inside global_read, y =", y)

local_set()
global_read()

Inside local_set, y = 5
Inside global_read, y = 100

In [33]:
#5- Write a function where a variable is declared inside the function and show that it cannot be accessed outside.
def secret_function():
    hidden = "I'm inside the function"
    print(hidden)

secret_function()

print(hidden)

I'm inside the function

NameError: name 'hidden' is not defined